<a href="https://colab.research.google.com/github/abdulfatahhamidah/learnPython/blob/master/05_Tipe_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipe Data Dasar

Integer (angka satuan)
+ berisi bilangan bulat tanpa koma

In [ ]:
data_integer = 1
print("data :", data_integer)
print("- bertipe :", type(data_integer))

data : 1
- bertipe : <class 'int'>

Float (angka dengan koma)
+ berisi bilangan desimal

In [ ]:
data_float = 1.5
print("data :", data_float)
print("- bertipe :", type(data_float))

data : 1.5
- bertipe : <class 'float'>

String (kumpulan karakter)
+ ditandai dengan " atau '
+ isi dari karakter tersebut dapat berupa angka dan huruf

In [ ]:
data_string ="ucup"
print("data :", data_string)
print("- bertipe :", type(data_string))

data : ucup
- bertipe : <class 'str'>

+ apabila string berupa angka, tidak dapat melakukan kalkulasi terhadap angka tersebut 
+ contoh: 
    + "aku" + "dewasa" menghasilkan output 'aku dewasa', kata aku disatukan dengan kata dewasa
    + "10" + "5" menghasilkan output 105, artinya adalah angka 10 disatukan dengan angka 5

In [ ]:
#string berupa kata
data_string_kata = "aku"
data_string_kata2 = "dewasa"
print("string berupa kata =",  data_string_kata + data_string_kata2)

#string berupa angka
data_string_angka = "10"
data_string_angka2 = "5"
print("string berupa angka =", data_string_angka + data_string_angka2)

string berupa kata = akudewasa
string berupa angka = 105

Biner (True/False)

In [ ]:
data_bool = False
print("data :", data_bool, type(data_bool))

data : False <class 'bool'>

Tipe Data Khusus
+ tipe data kompleks
+ tipe data dari bahasa C
    + apabila kita ingin menggunakan tipe data dari bahasa c, maka kita perlu untuk mengimport package yang diperlukan, eg. ctypes

In [ ]:
# tipe data kompleks 
data_complex = complex(5, 6)
print("data :", data_complex, type(data_complex))

data : (5+6j) <class 'complex'>

In [ ]:
# tipe data dari bahasa C
from ctypes import c_double

data_c_double = c_double(10.5)
print("data :", data_c_double, type(data_c_double))

data : c_double(10.5) <class 'ctypes.c_double'>