# Casting Tipe Data 
- merubah dari satu tipe data ke tipe data yang lain
- tipe data = int, float, str, bool

Integer -> float, string, boolean
+ apabila data bertipe boolean memiliki nilai 0 (nol) maka secara otomatis akan menghasilkan value false
+ \t berfungsi untuk tab pada output

In [1]:
data_int = 9
print("data awal(int)=", data_int, "\t", "type data =", type(data_int))

data_float = float(data_int)
data_str   = str(data_int)
data_bool  = bool(data_int) # akan false jika bernilai 0 (nol)
print("data float    =", data_float, "\t", "type data =", type(data_float))
print("data string   =", data_str, "\t", "type data =", type(data_str))
print("data boolean  =", data_bool, "\t", "type data =", type(data_bool))

data awal(int)= 9 	 type data = <class 'int'>
data float    = 9.0 	 type data = <class 'float'>
data string   = 9 	 type data = <class 'str'>
data boolean  = True 	 type data = <class 'bool'>

Float -> int, string, boolean
+ float -> int, terjadi pembulatan ke bawah meskipun melebihi 0.5

In [2]:
#Float
print("===Float===")
data_float = 9.9
print("data awal =", data_float, " type data =", type(data_float))

data_int = int(data_float) 
data_str   = str(data_float)
data_bool  = bool(data_float) # akan false jika bernilai 0 (nol)
print("data =", data_int, "\t", "type data =", type(data_int))
print("data =", data_str, "\t", "type data =", type(data_str))
print("data =", data_bool, "\t", "type data =", type(data_bool))

===Float===
data awal = 9.9  type data = <class 'float'>
data = 9 	 type data = <class 'int'>
data = 9.9 	 type data = <class 'str'>
data = True 	 type data = <class 'bool'>

Boolean -> int, str, float
+ boolean -> int, apabila true = 1, false = 0

In [3]:
#boolean
data_bool1 = True
data_bool2 = False
print("data awal1 =", data_bool1, "\ttype data1=", type(data_bool1))
print("data awal2 =", data_bool2, "\ttype data2 =", type(data_bool2),"\n")

data_int1 = int(data_bool1) 
data_int2 = int(data_bool2) 

data_str1  = str(data_bool1)
data_str2  = str(data_bool2)

data_float1 = float(data_bool1) 
data_float2 = float(data_bool2)

print("data int1 (True)   =", data_int1, "\ttype =", type(data_int1))
print("data int2 (False)  =", data_int2, "\ttype =", type(data_int2),"\n")

print("data str1 (True)   =", data_str1, "\ttype =", type(data_str1))
print("data str2 (False)  =", data_str2, "\ttype =", type(data_str2),"\n")

print("data float1 (Talse)=", data_float1, "\ttype =", type(data_float1))
print("data float2 (False)=", data_float2, "\ttype =", type(data_float2))

data awal1 = True 	type data1= <class 'bool'>
data awal2 = False 	type data2 = <class 'bool'>

data int1 (True)   = 1 	type = <class 'int'>
data int2 (False)  = 0 	type = <class 'int'>

data str1 (True)   = True 	type = <class 'str'>
data str2 (False)  = False 	type = <class 'str'>

data float1 (Talse)= 1.0 	type = <class 'float'>
data float2 (False)= 0.0 	type = <class 'float'>

String -> int, bool, float
+ kalimat -> int dan float, menghasilkan error.
+ string berupa angka -> int dan float, bisa.
+ string berupa kalimat -> boolean, True. meskipun isi dari stringnya adalah "false"
+ string kosong -> boolean, False.

In [4]:
data_awal = "ucup"
data_int = int(data_awal)

ValueError: invalid literal for int() with base 10: 'ucup'

In [5]:
data_awal = "10"
data_int = int(data_awal)
print(data_int)

10

In [6]:
string_awal = "False"
string_awal2 = "10"
string_awal3 = "0"
string_awal4 = ""

print("string awal =", string_awal)
print("string awal2 =", string_awal2)
print("string awal3 =", string_awal3)
print("string awal4 =", string_awal4)

boolean1 = bool(string_awal)
boolean2 = bool(string_awal2)
boolean3 = bool(string_awal3)
boolean4 = bool(string_awal4)

print("\ntipe data boolean1 =", boolean1)
print("tipe data boolean2 =", boolean2)
print("tipe data boolean3 =", boolean3)
print("tipe data boolean4 =", boolean4)

string awal = False
string awal2 = 10
string awal3 = 0
string awal4 =

tipe data boolean1 = True
tipe data boolean2 = True
tipe data boolean3 = True
tipe data boolean4 = False