<a href="https://colab.research.google.com/github/abdulfatahhamidah/learnPython/blob/master/10_Operasi_komparasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operasi Komparasi

Setiap hasil dari operasi komparasi adalah boolean. <br> 
Operasi komparasi antara lain:
+ lebih dari, >
+ kurang dari, < 
+ lebih besar sama dengan, >=
+ kurang dari sama degan, <=
+ sama dengan, == 
+ tidak sama dengan, !=
+ is 
+ is not

In [13]:
a = 4
b = 2

Lebih dari, > 
+ x > 3, maka semua bilangan x yang memenuhi adalah bilangan yang lebih besar dari 3. 3 tidak termasuk bilangan tersebut
+ x = 3, Output = False

In [14]:
hasil = a > 3
print(a, '>', 3, '=', hasil)

hasil = b > 3
print(b, '>', 3, '=', hasil)

hasil = b > 2
print(b, '>', 2, '=', hasil)

4 > 3 = True
2 > 3 = False
2 > 2 = False

kurang dari, <
+ x < 3, maka semua bilangan x yang memenuhi adalah bilangan yang kurang dari 3. 3 tidak termasuk bilangan tersebut
+ x = 3, Output = False

In [15]:
hasil = a < 3
print(a, '<', 3, '=', hasil)

hasil = b < 3
print(b, '<', 3, '=', hasil)

hasil = b < 2
print(b, '<', 2, '=', hasil)

4 < 3 = False
2 < 3 = True
2 < 2 = False

lebih besar dari sama dengan, >= 
+ x >=, maka semua bilangan x yang memenuhi adalah bilangan yang lebih besar sama dengan 3. 3 termasuk bilangan tersebut
+ x = 3, Output = True

In [16]:
hasil = a >= 3
print(a, '>=', 3, '=', hasil)

hasil = b >= 3
print(b, '>=', 3, '=', hasil)

hasil = b >= 2
print(b, '>=', 2, '=', hasil)

4 >= 3 = True
2 >= 3 = False
2 >= 2 = True

kurang dari sama dengan, >= 
+ x >=, maka semua bilangan x yang memenuhi adalah bilangan yang kurang dari sama dengan 3. 3 termasuk bilangan tersebut
+ x = 3, Output = True

In [17]:
hasil = a <= 3
print(a, '<=', 3, '=', hasil)

hasil = b <= 3
print(b, '<=', 3, '=', hasil)

hasil = b <= 2
print(b, '<=', 2, '=', hasil)

4 <= 3 = False
2 <= 3 = True
2 <= 2 = True

Sama dengan, ==
+ melakukan pengecekan kebenaran terhadap literal (nilai yang tidak memiliki variable), variable, object dll

In [18]:
hasil = a == 4
print (a, '==', 4, hasil)

4 == 4 True

Tidak sama dengan, !=
+ melakukan pengecekan kesalahan terhadap literal (nilai yang tidak memiliki variable), variable, object dll
+ apabila nilai salah (tidak sesuai dengan fakta), maka True
+ apabila nilai benar (sesuai dengan fakta), maka False

In [19]:
fakta = a
print("fakta a =", fakta)
fakta = b
print("fakta b =", fakta)

hasil = a != 4
print(a, '!=', 4, hasil) 

hasil = b != 4
print(b, '!=', 4, hasil)

fakta a = 4
fakta b = 2
4 != 4 False
2 != 4 True

# materi yang perlu pemahaman lebih 
+ is 
+ is not

'is' sebagai komparasi object identity

In [20]:
x = 5  # ini adalah assignment membuat object
y = 5
print('nilai x =', x, ',id =', hex(id(x)))
print('nilai y =', y, ',id =', hex(id(y)))

nilai x = 5 ,id = 0xa68b40
nilai y = 5 ,id = 0xa68b40

Penjelasan kode pada kolom di atas<br>
"Apabila terdapat nilai yang sama, python secara pintar akan menempatkan pada memori yang sama. jadi hal ini akan mengakibatkan efisiensi yang lebih baik. berbeda dengan bahasa lain yang menempatkan ke nilai memori yang berbeda meskipun nilainya sama."

sekarang kira akan membandingkan antara x dan y

In [21]:
hasil = x is y
print('x is y =', hasil)

x is y = True

Apabila kita merubah nilai y menjadi 6, maka hasilnya adalah False karena kedua nilai/variable berbeda.

In [22]:

x = 5 
y = 6
print('nilai x =', x, ',id =', hex(id(x)))
print('nilai y =', y, ',id =', hex(id(y)))
hasil = x is y
print('x is y =', hasil)

nilai x = 5 ,id = 0xa68b40
nilai y = 6 ,id = 0xa68b60
x is y = False

'is not' sebagai komparasi (negasi) object identity

In [23]:
x = 5 
y = 5
print('nilai x =', x, ',id =', hex(id(x)))
print('nilai y =', y, ',id =', hex(id(y)))

hasil = x is not y
print('x is not y =', hasil)

nilai x = 5 ,id = 0xa68b40
nilai y = 5 ,id = 0xa68b40
x is not y = False

Apabila kita merubah nilai y menjadi 6, maka hasilnya adalah True karena kedua nilai/variable berbeda.

In [24]:
x = 5  
y = 6
print('nilai x =', x, ',id =', hex(id(x)))
print('nilai y =', y, ',id =', hex(id(y)))
hasil = x is not y
print('x is not y =', hasil)

nilai x = 5 ,id = 0xa68b40
nilai y = 6 ,id = 0xa68b60
x is not y = True